# {{ ansible_managed }}
{% if debug | bool %}
  {% set _verbosity = '-vvv' %}
{% else %}
  {% set _verbosity = '-v' %}
{% endif %}

MEMCACHED_BINARY="/usr/bin/memcached"
PIDBASE="/var/run/memcached/memcached"
MEMUSAGE="{{ memcached_memory }}"
MEMCACHED_RUNAS="{{ memcached_user }}"
MAXCONN="{{ memcached_connections }}"
LISTENON="{{ memcached_listen }}"
PORT="{{ memcached_port }}"
UDPPORT="${PORT}"
MISC_OPTS="-t {{ memcached_threads }} {{ _verbosity }}"

